body {
  font-family: sans-serif;
  background-image: url("../images/bg-pattern.png");
}

.countryInput {
  outline: 0;
  margin-left: auto;
  margin-right: auto;
  margin-top: 20px;
  display: block;
  font-size: 24px;
  text-align: center;
  width: 400px;
}
.countryInput::placeholder {
  color: rgb(155, 155, 155);
}
.countryTitle {
  margin-top: 40px;
  margin-bottom: 30px;

  font-size: 60px;
  font-weight: 700;
  text-align: center;
}
.countryContentSection {
  justify-content: space-around;
  display: flex;
  font-size: 20px;
}
.countryContent__title {
  font-size: 30px;
  font-weight: 700;
  font-style: normal;
}
.countryContent__text {
  font-size: 24px;
  font-style: italic;
}
.countryContent__item {
  font-size: 24px;
  font-style: italic;
}
.countryContent__item:not(:last-child) {
  margin-bottom: 10px;
}
.countryContent__image {
  box-shadow: 2px 1px 16px 0 rgb(0 0 0 / 39%);
}
